/*
  The current user's messages should have:
  - a text color of #FFF
  - a background color of #1185f7

  Other participant's messages should have:
  - a text color of #000
  - a background color of #e9e9eb
*/
.chat-stream {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: flex-start;
}

.sent, .received {
  margin-bottom: 20px;
}

.pic {
  height: 30px;
  border-radius: 50%;
  margin-bottom: -8px;
}

.msgbody > span {
  background-color: rgb(231, 231, 231);
  padding: 7px;
  border-radius: 10px;
}

.username {
  margin-left: 35px;
  font-size: 14px;
}

.sent {
  align-self: flex-end;
}

.sent > .username {
  display: none;
}

.sent > .msgbody > .pic {
  visibility: hidden;
}

.sent > .msgbody > span {
  background-color: rgb(108, 167, 255);
  color: white;
}