footer {
  /* 
    These two lines replicate the "blurry white background"
    effect, as seen in iMessage
  */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  text-align: center;
}


.inner {
  height: 30px;
  background-color: white;
  width: 40%;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 2px 0px rgb(145, 145, 145);
}